<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <title>Document</title>
</head>

<body>
    <h1>Budgtr All</h1>
    <form action="/budget/new">
        <input type="submit" value="To new.ejs">
    </form>
    
    <% function addArrayNums(budget) { %>
    <% let bankAccount = 0; %>
    <% for (let i=0; i < allBudget.length; i++) { %>
        <% bankAccount += allBudget[i].amount; %>
        <% } %>
       <% return bankAccount; %>
       <% } %>



    <!-- if(bankAccount < 0) { 
         background-color="red"; 
        }
        else if(bankAccount > 1000)  { 
            background-color="green"; 
             }  -->

       Bank Account: 

    <div class="container">
        <% for (let i=0; i < allBudget.length; i++) { %>
            <table>
                <tr>
                    <td>
                        <%= allBudget[i].date %>
                        <a href="/budget/<%= i %>">
                            <%= allBudget[i].name %>
                        </a>
                        <%= allBudget[i].amount %>
                    </td>
                </tr>
            </table>
            <% } %>
    </div>
</body>

</html>