<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Add a New Item</h1>
        <form action="/budget" method="POST">
            <input placeholder="date" type="text" name="date"/><br />
            <input placeholder="name" type="text" name="name"/><br />
            <input placeholder="amount" type="text" name="amount"/><br />
            <input placeholder="from" type="text" name="from"/><br />
            <input type="submit" value="submit" /><br />
          </form>
    </div>

</body>

</html>